body,
html {
  background: linear-gradient(
    111.1deg,
    rgb(0, 40, 70) -4.8%,
    rgb(255, 115, 115) 82.7%,
    rgb(255, 175, 123) 97.2%
  );
  height: 100%;
}
.container {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  border-radius: 50px;
  padding: 30px;
  text-align: center;
  margin-top: 100px;
  box-shadow: 3px 3px 3px black;
}
.title {
  color: #fd5959;
  font-family: monospace;
  font-weight: 900;
  font-size: 50px;
}
button {
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px;
  color: #757a79;
}
button:hover {
  color: brown;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #fcff82;
}
.col-6,
.col-4 {
  font-size: 20px;
  font-family: monospace;
  color: #afc5ff;
}
.currentTemperature {
  font-size: 50px;
  font-weight: 900;
  margin: 20px;
  padding-bottom: 20px;
  color: #fcff82;
}
p {
  font-size: 80px;
  color: #fcff82;
}
.col {
  font-size: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #ff9c6d;
}
